---
import '@/styles/globals.css'
import { Building2 } from 'lucide-react'
import Footer from '@/components/Footer.astro';
interface Props {
	title: string;
  description: string;
  keywords: string;
}

const { title = 'Default Title', description = '', keywords = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description || 'Default description'} />
    <meta name="keywords" content={keywords || 'default, keywords'} />
    <meta name="author" content="PIDANA Technologies Pvt Ltd" />
    <title>{title}</title>
  </head>
  <body>
    <header class="px-4 lg:px-6 h-16 flex items-center border-b">
      <a class="flex items-center justify-center" href="/">
        <Building2 className="h-6 w-6 mr-2" />
        <span class="font-bold">PIDANA Technologies</span>
      </a>
      <nav class="ml-auto flex gap-4 sm:gap-6">
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#home">
          Home
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#about">
          About Us
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#solutions">
          Solutions
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#technologies">
          Technologies
        </a>
        <!-- <a class="text-sm font-medium hover:underline underline-offset-4" href="/#partners">
          Partners
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#careers">
          Careers
        </a> -->
        <a class="text-sm font-medium hover:underline underline-offset-4" href="/#contact">
          Contact Us
        </a>
      </nav>
    </header>

    <div class="flex flex-col min-h-screen">
      <slot />
    </div>

    <Footer />
  </body>
</html>